
/****-------movil---------- ******/

@media (min-width: 320px) and (max-width: 767px){

.subtitulo{
	margin: 15px;
	padding: 0;
}

.aboutME{
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 30px;
}

#devoloperIMG{
    width: 320px;
    height: 300px;
    border-radius: 10px;
    border: 2px solid black;
  margin: 0px;

}
article{
    width: 100%;
    padding: 10px;
    margin: 10px;

}

#aboutme_txt{
    font-size: 20px;
    font-weight: bold;
}
}

/****-------tablet---------- ******/

@media (min-width: 768px) and (max-width: 1024px){
  .subtitulo{
  margin: 15px;
  padding: 0;
}

.aboutME{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 30px;
}

#devoloperIMG{
    width: 450px;
    height: 350px;
    border-radius: 10px;
    border: 2px solid black;
    margin: 20px; 
}
article{
    width: 100%;
    padding: 25px;
}

#aboutme_txt{
    font-size: 25px;
    font-weight: bold;
}
}

/****-------ESCRITORIO---------- ******/


@media (min-width: 1025px){
   .subtitulo{
  margin: 15px;
  padding: 0px;
}

.aboutME{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 30px;
}

#devoloperIMG{
    width: 450px;
    height: 350px;
    border-radius: 10px;
    border: 2px solid black;
    margin: 20px; 
}
article{
    width: 100%;
    padding: 25px;
}

#aboutme_txt{
    font-size: 25px;
    font-weight: bold;
}
}