/****-------MOVIL---------- ******/

@media (max-width: 600px){
  .subtitulo{
  margin: 15px;
  padding: 0px;
}

.presentacion{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  margin: 50px;
}

#presentacionIMG{
    width: 200px;
    height: 200px;
    border-radius: 9999px;
    border: 2px solid black; 
    background-color: aliceblue;
    margin: 40px; 
}


#presentacionP{
    font-size: 25px;
    font-weight: bold;

}
article{
    width: 100%;
    padding: 25px;
}

.dev{
  font-size: 40px;
}

}

/****-------tablet----------******/


@media(min-width: 767px) and (max-width: 990px){
  .subtitulo{
  margin: 15px;
  padding: 0px;
}

.presentacion{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  margin: 50px;
}

#presentacionIMG{
    width: 350px;
    height: 350px;
    border-radius: 9999px;
    border: 2px solid black; 
    background-color: aliceblue;
    margin: 40px; 
}


#presentacionP{
    font-size: 25px;
    font-weight: bold;
}
article{
    width: 100%;
    padding: 25px;
}

.dev{
  font-size: 40px;
}

}

/****-------ESCRITORIO---------- ******/

@media(min-width: 991px){
  .subtitulo{
  margin: 15px;
  padding: 0px;
}

.presentacion{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  margin: 50px;
}

#presentacionIMG{
    width: 350px;
    height: 350px;
    border-radius: 9999px;
    border: 2px solid black; 
    background-color: aliceblue;
    margin: 40px; 
}


#presentacionP{
    font-size: 25px;
    font-weight: bold;
}
article{
    width: 100%;
    padding: 25px;
}

.dev{
  font-size: 40px;
}

}

