/****-------MOVIL---------- ******/
/*DESDE 320PX HASTA 767PX*/
@media (min-width: 320px) and (max-width: 767px){
  .subtitulo{
  margin: 15px;
  padding: 0px;
}

.presentacion{
  justify-content: center;
  align-items: center;
  padding: 25px;
  margin: 25px;
}

#presentacionIMG{
    width: 100%;
    height: auto;
    border-radius: 9999px;
    border: 2px solid black; 
    background-color: aliceblue;
    margin: 0 auto;
}
.dev{
  font-size: 40px;
}


#presentacionP{
    font-size: 25px;
    font-weight: bold;

}
article{
    width: 100%;
    padding: 20px;
}



}

/****-------tablet----------******/


@media(min-width: 768px) and (max-width: 1024px){
  .subtitulo{
  margin: 15px;
  padding: 0px;
}

.presentacion{
  justify-content: center;
  align-items: center;
  padding: 50px;
  margin: 50px;
}

#presentacionIMG{
    width: 100%;
    height: auto;
    border-radius: 9999px;
    border: 2px solid black; 
    background-color: aliceblue;
    margin: 0 auto; 
}


#presentacionP{
    font-size: 25px;
    font-weight: bold;
}
article{
    width: 100%;
    padding: 25px;
}

.dev{
  font-size: 40px;
}

}

/****-------ESCRITORIO---------- ******/

@media(min-width: 1025px){
  .subtitulo{
  margin: 15px;
  padding: 0px;
}

.presentacion{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  margin: 50px;
}

#presentacionIMG{
    width: 350px;
    height: 350px;
    border-radius: 9999px;
    border: 2px solid black; 
    background-color: aliceblue;
    margin: 40px; 
}


#presentacionP{
    font-size: 25px;
    font-weight: bold;
}
article{
    width: 100%;
    padding: 25px;
}

.dev{
  font-size: 40px;
}

}


