.subtitulo{
    margin: 15px;
    padding: 0px;
}
/*
.encabezado_habilidades{
   margin: 10px;
}
*/

.habilidades{
    width: 100%;
    height: auto;
    margin: auto;
    text-align: center;
    margin: auto;
}

.caja_hability{
     padding: 5px;
}

.primera_parte img{
    padding: 30px;
    margin: 30px;
}

.segunda_parte img{
    padding: 30px;
    margin: 30px;
}
.icono_logo{
    width: 200px;
    height: 200px;
    background-color: #fff;
    border-radius: 40px;
    box-shadow: 14px 14px 20px 0 rgba(20, 20, 20, 0.3);
}