
/*MOVIL HASTA TABLET*/

@media (min-width: 320px) and (max-width: 767px){
	body{
	font-family: 'Lucida Sans', Sans-serif;
	background: linear-gradient(to right,#516091,#74bec1);
	padding: 0;
	margin: 0;
	padding-bottom: 100px;
}


header{
	text-align: center;
}

.active{
	background-color:#516091;
}

ul{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	background-color: #294d61;
}

li{
	float: left;
}

li a{
	display: block;
	color: white;
	text-align: center;
	padding: 6px;
	text-decoration: none;
	font-weight: bold;
}

li a:hover:not(.active){
	background-color: #516091;
}

h1{
	background-color: #072e33;
	padding: 10px;
	margin: 0;
	font-family: 'Libre Baskerville',cursive;
	font-size: 50px;
	color: white;
}

footer{
 background-color: #072e33;
 color: #fff;
 
 text-align: center;
 position: fixed;
 bottom: 0;
 width: 100%;
}

footer p{
	padding: 10px;
}


}

/*TABLET A LAPTOP*/
@media (min-width: 768px) and (max-width: 1024px){

body{
	font-family: 'Lucida Sans', Sans-serif;
	background: linear-gradient(to right,#516091,#74bec1);
	padding: 0;
	margin: 0;
	padding-bottom: 100px;
}

header{
	text-align: center;
}

.active{
	background-color:#516091;
}

ul{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	background-color: #294d61;
}

li{
	float: left;
}

li a{
	display: block;
	color: white;
	text-align: center;
	padding: 15px;
	text-decoration: none;
	font-weight: bold;
}

li a:hover:not(.active){
	background-color: #516091;
}

h1{
	background-color: #072e33;
	padding: 10px;
	margin: 0;
	font-family: 'Libre Baskerville',cursive;
	font-size: 50px;
	color: white;
}

footer{
 background-color: #072e33;
 color: #fff;
 padding: 15px;
 text-align: center;
 position: fixed;
 bottom: 0;
 width: 100%;

}

}

/* ESCRITORIO */

@media (min-width: 1025px){
	body{
	font-family: 'Lucida Sans', Sans-serif;
	background: linear-gradient(to right,#516091,#74bec1);
	padding: 0;
	margin: 0;
	padding-bottom: 100px;
}



header{
	text-align: center;
}

.active{
	background-color:#516091;
}

ul{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	background-color: #294d61;
}

li{
	float: left;
}

li a{
	display: block;
	color: white;
	text-align: center;
	padding: 15px;
	text-decoration: none;
	font-weight: bold;
}

li a:hover:not(.active){
	background-color: #516091;
}

h1{
	background-color: #072e33;
	padding: 10px;
	margin: 0;
	font-family: 'Libre Baskerville',cursive;
	font-size: 50px;
	color: white;
}

footer{
 background-color: #072e33;
 color: #fff;
 padding: 15px;
 text-align: center;
 position: fixed;
 bottom: 0;
 width: 100%;
}




}

/*
body{
	font-family: 'Lucida Sans', Sans-serif;
	background: linear-gradient(to right,#516091,#74bec1);
	padding: 0;
	margin: 0;
	padding-bottom: 100px;
}



header{
	text-align: center;
}

.active{
	background-color:#516091;
}

ul{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	background-color: #294d61;
}

li{
	float: left;
}

li a{
	display: block;
	color: white;
	text-align: center;
	padding: 15px;
	text-decoration: none;
	font-weight: bold;
}

li a:hover:not(.active){
	background-color: #516091;
}

h1{
	background-color: #072e33;
	padding: 10px;
	margin: 0;
	font-family: 'Libre Baskerville',cursive;
	font-size: 50px;
	color: white;
}

footer{
 background-color: #072e33;
 color: #fff;
 padding: 15px;
 text-align: center;
 position: fixed;
 bottom: 0;
 width: 100%;

}
*/